@import '../../common/styles/public.less';
:global {
  .login-pages {
    padding: 0 30px;
    box-sizing: border-box;
    .top-logo {
      margin: 0 auto;
      text-align: center;
      padding: 30px 0 70px;
      box-sizing: border-box;
      .logo-img {
        width: 320px;
        height: 97px;
      }
    }
    .login-info {
      padding: 0 30px;
      box-sizing: border-box;
      .input-item {
        height: 109px;
        font-size: 32px;
        font-family: PingFangSC-Regular, PingFangSC, sans-serif;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        position: relative;
        .img-code-change {
          position: absolute;
          text-align: center;
          right: 0;
          top: 32px;
          width: 180px;
          height: 56px;
        }
        .code-btn {
          width: 180px;
          height: 56px;
          border-radius: 28px;
          font-size: 24px;
          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 56px;
          position: absolute;
          text-align: center;
          right: 0;
          top: 32px;
        }
        .code-get {
          background: linear-gradient(90deg, rgba(227, 168, 81, 1), rgba(236, 204, 131, 1));
          box-shadow: 0 6px 16px 0 rgba(204, 162, 115, 0.4);
        }
        .code-ing {
          background: linear-gradient(90deg, rgba(189, 189, 189, 1), rgba(221, 221, 221, 1));
          box-shadow: 0 6px 16px 0 rgba(193, 193, 193, 0.4);
        }
      }
      .mobile-desc {
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(255, 117, 69, 1);
        height: 81px;
        line-height: 81px;
      }
      .input-icon {
        background-size: 100% 100% !important;
        width: 28px;
        height: 36px;
        margin: 0 auto;
      }
      .mobile {
        background: url('@{asset_url}/mobile.png') center center no-repeat;
      }
      .img-code {
        background: url('@{asset_url}/code.png') center center no-repeat;
      }
      .mobile-code {
        background: url('@{asset_url}/invite.png') center center no-repeat;
      }
    }
    .login-btn {
      height: 88px;
      background: linear-gradient(90deg, rgba(227, 168, 81, 1), rgba(236, 204, 131, 1));
      box-shadow: 0 6px 16px 0 rgba(204, 162, 115, 0.4);
      border-radius: 44px;
      font-size: 34px;
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 88px;
      text-align: center;
    }
    .agreement-info {
      font-size: 24px;
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(170, 170, 170, 1);
      line-height: 25px;
      margin-top: 31px;
      text-align: center;
      .agreement {
        color: #e3a851;
      }
    }
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
    .content {
      position: absolute;
      width: 100%;
      height: 80%;
      background-color: #fff;
      overflow: auto;
      z-index: 100;
      left: 0;
      bottom: 0;
    }
    .slide-enter {
      height: 0;
    }
    .slide-enter-active {
      height: 80%;
      transition: height 0.1s ease-in;
    }
    .slide-enter-done {
      height: 80%;
    }
    .slide-exit {
      height: 80%;
    }
    .slide-exit-active {
      height: 0;
      transition: height 0.1s ease-in;
    }
    .slide-exit-done {
      height: 0;
    }
    .fade-enter {
      opacity: 0;
    }
    .fade-enter-active {
      opacity: 1;
      transition: opacity 0.1s ease-in;
    }
    .fade-enter-done {
      opacity: 1;
    }
    .fade-exit {
      opacity: 1;
    }
    .fade-exit-active {
      opacity: 0;
      transition: opacity 0.1s ease-in;
    }
    .fade-exit-done {
      opacity: 0;
    }
  }
}
