.color-golden {
  color: #e3a952;
}
.bg-color-golden {
  color: #e3a952;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
