.color-golden {
  color: #e3a952;
}
.bg-color-golden {
  color: #e3a952;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
:global .home-pages {
  width: 100%;
  height: auto;
}
:global .home-pages .header-info {
  color: #fff;
  padding: 20px 30px 0;
  box-sizing: border-box;
  width: 100%;
  height: 699px;
  background: url('../../assets/home/header-bg.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
:global .home-pages .header-info .tg-desc .tg-name-label {
  align-items: center;
  position: relative;
}
:global .home-pages .header-info .tg-desc .tg-name-label .tg-header {
  width: 160px;
  height: 160px;
  background: #3e4964;
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
}
:global .home-pages .header-info .tg-desc .tg-name-label .tg-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
:global .home-pages .header-info .tg-desc .tg-name-label .tg-title {
  margin-left: 30px;
}
:global .home-pages .header-info .tg-desc .tg-name-label .tg-title .top-title .tg-name {
  font-size: 44px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #ffffff;
}
:global .home-pages .header-info .tg-desc .tg-name-label .tg-title .top-title .tg-company {
  font-size: 26px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #9c9ea3;
  vertical-align: bottom;
}
:global .home-pages .header-info .tg-desc .tg-name-label .label-list .tg-label {
  padding: 8px 13px;
  box-sizing: border-box;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  margin-right: 20px;
  font-size: 24px;
  font-family: PingFang;
  font-weight: 500;
  color: #ffffff;
}
:global .home-pages .header-info .tg-desc .tg-name-label .sign {
  margin-left: auto;
}
:global .home-pages .header-info .tg-desc .tg-name-label .sign .sign-btn {
  font-size: 24px;
  width: 140px;
  height: 56px;
  background: linear-gradient(90deg, #e3a851, #eccc83);
  border-radius: 28px;
  text-align: center;
  line-height: 56px;
}
:global .home-pages .header-info .tg-desc .tg-name-label .sign .sign-num {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #9c9ea3;
  margin-top: 16px;
}
:global .home-pages .header-info .tg-desc .tg-desc-info {
  margin-top: 36px;
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #a9aaae;
  line-height: 36px;
}
:global .home-pages .header-info .zb-desc {
  margin-top: 68px;
  position: relative;
}
:global .home-pages .header-info .zb-desc .zb-list {
  width: 100%;
  height: 148px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 22px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 30px;
  box-sizing: border-box;
}
:global .home-pages .header-info .zb-desc .zb-list .zb-title {
  line-height: 35px;
}
:global .home-pages .header-info .zb-desc .zb-list .zb-list-info li {
  line-height: 35px;
}
:global .home-pages .header-info .zb-desc .zb-list .zb-list-info .time {
  color: #A0A4AE;
  margin-right: 20px;
}
:global .home-pages .header-info .zb-desc .zb-btn {
  position: absolute;
  height: 48px;
  background: #ff7545;
  border-radius: 24px;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  font-size: 26px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #ffffff;
  right: 0;
  top: -24px;
  line-height: 26px;
  justify-content: space-around;
  align-items: center;
}
:global .home-pages .header-info .zb-desc .zb-btn span {
  display: inline-block;
  padding: 1px;
}
:global .home-pages .header-info .zb-desc .zb-btn span.line {
  padding: 0 20px;
}
:global .home-pages .header-info .zb-desc .zb-btn span.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-left: 10px;
}
:global .home-pages .mune-info {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
:global .home-pages .mune-info .menus-list {
  padding: 40px 50px;
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  position: relative;
  top: -156px;
  font-size: 26px;
  font-family: PingFang;
  font-weight: 500;
  color: #333333;
}
:global .home-pages .mune-info .menus-list .menus-list-item {
  justify-content: space-between;
  margin-top: 40px;
}
:global .home-pages .mune-info .menus-list .menus-list-item:first-child {
  margin-top: 0;
}
:global .home-pages .mune-info .menus-list .menus-list-item .menu-item img {
  width: 44px;
  height: 48px;
}
:global .home-pages .all-produce-info {
  margin-top: -86px;
}
:global .home-pages .all-produce-info .jrbd-info {
  width: 100%;
  padding-bottom: 30px;
}
:global .home-pages .all-produce-info .jrbd-info .jrbd-title {
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 38px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 36px;
  margin-bottom: 40px;
}
:global .home-pages .all-produce-info .jrbd-info .jrbd-list {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}
:global .home-pages .all-produce-info .jrbd-info .jrbd-list .jrbd-list-item {
  display: inline-block;
  width: 416px;
  height: 166px;
  margin-left: 30px;
  padding: 33px 30px;
  box-sizing: border-box;
  font-size: 32px;
  font-family: PingFang SC;
  font-weight: 400;
  white-space: normal;
  vertical-align: middle;
  line-height: 50px;
}
:global .home-pages .all-produce-info .jrbd-info .jrbd-list .jrbd-list-item.lihao {
  background: url('../../assets/home/lihao.png') 0 0 no-repeat;
  background-size: cover;
  color: #bf7751;
}
:global .home-pages .all-produce-info .jrbd-info .jrbd-list .jrbd-list-item.likong {
  background: url('../../assets/home/likong.png') 0 0 no-repeat;
  background-size: cover;
  color: #5c7cc6;
}
:global .home-pages .all-produce-info .zndp-info {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}
:global .home-pages .all-produce-info .zndp-info .zndp-list .zndp-item {
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 36px;
  padding: 22px 0;
}
:global .home-pages .all-produce-info .zndp-info .zndp-list .zndp-item:last-child::after {
  border-width: 0 !important;
}
:global .home-pages .all-produce-info .zndp-info .zndp-list .zndp-item .zndp-time {
  font-size: 22px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 36px;
}
:global .home-pages .all-produce-info .tznc-info {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item {
  position: relative;
  padding: 40px 0;
  box-sizing: border-box;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item:last-child::after {
  border-width: 0 !important;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item .tznc-img-div {
  width: 200px;
  height: 118px;
  border-radius: 4px;
  position: relative;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item .tznc-img-div img {
  width: 200px;
  height: 118px;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item .tznc-img-div .update {
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 34px;
  background: #ff7545;
  border-radius: 4px;
  font-size: 22px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 34px;
  text-align: center;
  border-bottom-right-radius: 17px;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item .tznc-title {
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 31px;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item .tznc-time {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 25px;
  margin-top: 15px;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item .tznc-price {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #ff7f2a;
  line-height: 25px;
  margin-top: 30px;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item .tznc-price .money {
  font-size: 38px;
  margin-right: 10px;
}
:global .home-pages .all-produce-info .tznc-info .tznc-list .tznc-item .tznc-btn {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 140px;
  height: 56px;
  background: linear-gradient(90deg, #e3a851, #eccc83);
  box-shadow: 0 3px 8px 0 rgba(204, 162, 115, 0.4);
  border-radius: 28px;
  text-align: center;
  font-size: 28px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 56px;
}
:global .home-pages .all-produce-info .jxjj-info {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
:global .home-pages .all-produce-info .gpcp-info,
:global .home-pages .all-produce-info .bxcp-info,
:global .home-pages .all-produce-info .tzcl-info {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}
:global .home-pages .website-info {
  text-align: center;
  padding-bottom: 40px;
}
:global .home-pages .website-info .company {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 36px;
}
:global .home-pages .website-info .site {
  font-size: 22px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 36px;
}
